{% extends 'base.html.twig' %}

{% block title %}Вход в CRM{% endblock %}

{% block body %}
    <div class="login-page">
        <main class="login-panel">
            <div class="login-panel__header">
                <div class="login-panel__brand">CRM</div>
                <h1 class="login-panel__title">Вход в систему</h1>
            </div>

            {% if error %}
                <div class="login-alert">
                    {{ error.messageKey|trans(error.messageData, 'security') }}
                </div>
            {% endif %}

            {% if app.user %}
                <div class="login-alert login-alert--info">
                    Вы уже вошли как {{ app.user.userIdentifier }}.
                    <a href="{{ logout_path() }}">Выйти</a>
                </div>
            {% endif %}

            <form method="post" class="login-form">
                <div class="login-form__field">
                    <label for="inputEmail">Email</label>
                    <input
                        type="email"
                        value="{{ last_username }}"
                        name="email"
                        id="inputEmail"
                        autocomplete="email"
                        required
                        autofocus
                    >
                </div>

                <div class="login-form__field">
                    <label for="inputPassword">Пароль</label>
                    <input
                        type="password"
                        name="password"
                        id="inputPassword"
                        autocomplete="current-password"
                        required
                    >
                </div>

                <input type="hidden" name="_csrf_token" data-controller="csrf-protection" value="{{ csrf_token('authenticate') }}">

                <label class="login-form__remember">
                    <input type="checkbox" name="_remember_me">
                    <span>Запомнить меня</span>
                </label>

                <button class="login-form__submit" type="submit">
                    Войти
                </button>
            </form>
        </main>
    </div>
{% endblock %}
